
<h1>Listing Users</h1>

<%= link_to 'New user', new_user_path %>

<table>
  <tr>
    <th>Email</th>
    <th>Avatar</th>
    <th>Images</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= image_tag user.avatar, size: "50" %></td>
      <td>
        <% user.images.each do |image| %>
          <%= image_tag(image, size: "50") %>
        <% end %>
      </td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
</table>


